@page
@model CartModel

<h1><br/></h1>
<h2 class="text-center">Items in cart:</h2>
<table style=" margin: auto; width: 600px !important; " class="table center-block table-bordered table-striped ">
    <thead  class="thead-dark">
        <tr>
            <th>Item</th>
            <th class="text-center">Quantity</th>
            <th class="text-right">Cost</th>
            <th class="text-right">Subtotal</th>
            <th></th> <!-- zostawiamy na remove-buttony --->
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines) {
            <tr>
                <td class="text-left">@line.Item.Name</td>
                <td class="text-center">@line.Quantity</td>
                <td class="text-right">@line.Item.Price.ToString("c")</td>
                <td class="text-right">@((line.Quantity * line.Item.Price).ToString("c"))</td>
                <td class="text-center">
                    <form asp-page-handler="Remove" method="post">
                        <input type="hidden" name="ItemID" value="@line.Item.ItemID" />
                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                        <button type="submit" class="btn-sm btn btn-danger">Discard</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total sum:</td>
            <td class="text-right">@Model.Cart.ComputeTotalValue().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <p> </p>
    <a class="btn-primary btn" href="@Model.ReturnUrl">←</a>
    <a class="btn-primary btn" asp-action="Purchase" asp-controller="Order">✓</a>
</div>
