@page "/admin/Items"
@page "/admin"
@inherits OwningComponentBase<IStoreRepository>

<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th><th>Name</th>
            <th>Category</th><th>Price</th><td/>
        </tr>
    </thead>
    <tbody>
        @if (ItemData?.Count() > 0) {
            @foreach (Item p in ItemData) {
                <tr>
                    <td>@p.ItemID</td>
                    <td>@p.Name</td>
                    <td>@p.Category</td>
                    <td>@p.Price.ToString("c")</td>
                    <td>
                        <NavLink class="btn btn-info btn-sm"
                                 href="@GetDetailsUrl(p.ItemID)">
                            Details
                        </NavLink>
                        <NavLink class="btn btn-warning btn-sm"
                                 href="@GetEditUrl(p.ItemID)">
                            Edit
                        </NavLink>
                        <button class="btn btn-danger btn-sm"
                                 @onclick="@(e => DeleteItem(p))">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        } else {
            <tr>
                <td colspan="5" class="text-center">No Items</td>
            </tr>
        }
    </tbody>
</table>

<NavLink class="btn btn-primary" href="/admin/Items/create">Create</NavLink>

@code {
    public IStoreRepository Repository => Service;

    public IEnumerable<Item> ItemData { get; set; }

    protected async override Task OnInitializedAsync() {
        await UpdateData();
    }

    public async Task UpdateData() {
        ItemData = await Repository.Items.ToListAsync();
    }

    public async Task DeleteItem(Item p) {
        Repository.DeleteItem(p);
        await UpdateData();
    }

    public string GetDetailsUrl(long id) => $"/admin/Items/details/{id}";
    public string GetEditUrl(long id) => $"/admin/Items/edit/{id}";
}
